<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Measuring{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <nav class="navbar opensans">
            <div class="logo">Measuring 2/3</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('cv') }}">Go</a></li>
            </ul>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        </nav>
        <main>
            <h1 class = "opensans">Show your finger to the camera: </h1>
            <div style="position: relative; width: 640px; height: 480px;">
                <img src="{{ url_for('angle_video_feed') }}" width="640" height="480" style = " margin-left: 150px">

                <!-- <div style="position: absolute; top: 50%; left: 0; width: 100%; height: 0; border-top: 5px dashed red;  margin-left: 150px"></div> -->

            </div>
            <a href="{{ url_for('force') }}">
                <button class="opensans">Next</button>
            </a>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
