<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moby Data{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <nav class="navbar surfer">
            <div class="logo">Moby Data</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('explore') }}">Explore</a></li>
                <li><a href="{{ url_for('upload') }}">Upload</a></li>
            </ul>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <div class="intro">
           <p style = "text-align: center; margin: 0 auto">
            Explore the OOI's vast database of hydrophone recordings!
            </p>
        </div>
    </div>
    <br/>

    <div class="wave-container"></div>
</body>
</html>
